.mybtn{
    transition: all .3s;
    
    &:hover{
        transform: translateY(-.5rem);
	    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); /* X,Y,blurr,color */
    }

    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .3rem .7rem rgba(0, 0, 0, 0.2);
    }
}